* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

body {
    background-color: #040F18;
}

.con1 {

    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: #040F18;

}

.active {
    color: #841617;
    text-decoration: underline;
    font-weight: bold;
}

ul {
    list-style: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: top;
    width: 100px;
    height: 110px;
    padding: 0;

}

.nav-links a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 40px 0;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
    letter-spacing: 4px;
}

.nav-links a:hover {
    background: #841617;
    color: whitesmoke;
    box-shadow: 0 0 5px #841617,
        0 0 25px #841617,
        0 0 50px #841617,
        0 0 200px #841617;
}

.con1 .main {
    display: flex;
}

.con1 .main .text {
    margin: 100px;
    margin-top: 200px;
    margin-right: 15px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.con1 .main .option {
    margin-top: 200px;
    height: 90px;
    line-height: 80px;
    overflow: hidden;
}

.option li {
    list-style: none;
    color: #841617;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.option li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.option li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #040F18;
    border-left: 2px solid#841617;
    animation: typing 3s steps(19) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

.con2 {
    background-color: #040F18;
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: row;
}
.con3 {
    margin-bottom: 40px;
    background-color: #040F18;
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: row;
}

.left {
    flex: 1;
    background: #040F18;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.right {
    flex: 1;
    background: #040F18;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.pic {
    border-radius: 30px;
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
}

.vid {
    border-radius: 30px;
}

.right h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 30px;
}

.left h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 30px;
}

footer {
    align-items: center;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 11, 46, 1) 48%, rgba(238, 210, 214, 1) 100%, rgba(0, 212, 255, 1) 100%);
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(162, 163, 162);
}

.footer-col {
    flex-basis: 25%;
    padding: 10px;
}

.logo2 {
    width: 90px;
    margin-bottom: 5px;
}

.logo11 {
    width: 50px;
    margin: 1%;
    margin-bottom: 5px;
}

.footer-col h2 {
    margin-left: 10px;
    width: fit-content;
    margin-bottom: 1px;
    position: relative;
}